scipio-xml/resources/ticket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="application">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="appId" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="version" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="merchant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="smi" type="xs:string" />
              <xs:element name="username" type="xs:string" />
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address1" type="xs:string" />
                    <xs:element name="address2" type="xs:string" />
                    <xs:element name="address3" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="storeNumber" type="xs:unsignedInt" />
              <xs:element name="telephone" type="xs:string" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="terminal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="consumer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pei" type="xs:unsignedShort" />
              <xs:element name="pin" type="xs:unsignedShort" />
              <xs:element name="tei" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="activated" type="xs:dateTime" />
              <xs:element name="created" type="xs:dateTime" />
              <xs:element name="closed">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" type="xs:date" />
                    <xs:element name="time" type="xs:time" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="transactionId" type="xs:unsignedInt" />
              <xs:element name="tableNumber" type="xs:unsignedByte" />
              <xs:element name="numberofGuests" type="xs:unsignedByte" />
              <xs:element name="serverName" type="xs:string" />
              <xs:element name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="description" type="xs:string" />
                          <xs:element name="inventoryId" type="xs:unsignedInt" />
                          <xs:element name="qty" type="xs:unsignedByte" />
                          <xs:element name="unitPrice" type="xs:decimal" />
                          <xs:element name="coupon">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="total" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="quantity" type="xs:unsignedByte" />
                    <xs:element name="subtotal" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="discounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rewards" type="xs:string"/>
                    <xs:element name="coupons">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="coupon">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:unsignedInt" />
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="value" type="xs:decimal" />
                                <xs:element name="quantity" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="quantity" type="xs:unsignedByte" />
                    <xs:element name="value" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subtotal" type="xs:decimal" />
              <xs:element name="discount" type="xs:decimal" />
              <xs:element name="total" type="xs:decimal" />
              <xs:element name="salestax">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rate" type="xs:decimal" />
                    <xs:element name="taxableAmount" type="xs:decimal" />
                    <xs:element name="total" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="tax" type="xs:decimal" />
              <xs:element name="tip" type="xs:decimal" />
              <xs:element name="grandTotal" type="xs:decimal" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="amountPaid" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="grandTotal" type="xs:decimal" />
              <xs:element name="amountCharged" type="xs:decimal" />
              <xs:element name="method" type="xs:string" />
              <xs:element name="card">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cardHolder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="firstName" type="xs:string" />
                          <xs:element name="lastName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="expiration" type="xs:string" />
                    <xs:element name="number" type="xs:unsignedShort" />
                    <xs:element name="type" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="authorizationCode" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>